:root {
  --initial-bottom-position: 10%; /* Represents the initial bottom position when at --viewport-max-width: */
  --base-transition-difference: 20; /* Represents the base transition difference */
  --transition-adjustment: 10; /* Represents the adjustment value in the transition calculation */
  --viewport-min-width: 400; /* Represents the minimum viewport width */
  --viewport-max-width: 800; /* Represents the maximum viewport width */

  --main-bottom-transition: calc(var(--initial-bottom-position) - (var(--base-transition-difference) - var(--transition-adjustment)) * ((100vw - var(--viewport-min-width)) / (1 * (var(--viewport-max-width) - var(--viewport-min-width)))));
  
  --circle-right-margin: calc(5% + (var(--transition-adjustment) - 5) * ((100vw - 400px) / (800 - 400)));
}

body {
  background-image: url("/assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  /*overflow: hidden;  anything outside of the body is hidden, if things disappear, this is probably the issue. Also prevents scrollbars from appearing to accomodate large objects unless body is expanded so be aware of that.*/
  font-family: Barlow Condensed, serif;
}

main {
  width: 400px;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 1px;
  position: fixed;
  left: 10%;
  bottom: var(--main-bottom-transition);
  transition: font-size 1s, width 2s, height 2s;
  background-color: wheat; /* For debugging purposes */
}

#so-you-want-text {
  font-size: 28px;
  display: block;
  transition: font-size 1s;
}

#space-text {
  font-size: 100px;
  display: block;
  font-family: Bellefair, serif;
  margin: 0;
  transition: font-size 1s;
}

@media screen and (max-width: 575px) {
  main {
    width: 300px;
    font-size: 16px;
  }
  #so-you-want-text {
    font-size: 16px;
  }
  #space-text {
    font-size: 50px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  main {
    width: 400px;
    font-size: 20px;
  }
  #so-you-want-text {
    font-size: 20px;
  }
  #space-text {
    font-size: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  main {
    width: 500px;
    font-size: 24px;
  }
  #so-you-want-text {
    font-size: 24px;
  }
  #space-text {
    font-size: 80px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1079px) {
  main {
    width: 600px;
    font-size: 28px;
  }
  #so-you-want-text {
    font-size: 28px;
  }
  #space-text {
    font-size: 90px;
  }
}

@media screen and (min-width: 1080px) and (max-width: 1439px) {
  main {
    width: 700px;
    font-size: 32px;
  }
  #so-you-want-text {
    font-size: 32px;
  }
  #space-text {
    font-size: 100px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 2159px) {
  main {
    width: 800px;
    font-size: 36px;
  }
  #so-you-want-text {
    font-size: 36px;
  }
  #space-text {
    font-size: 110px;
  }
}

@media screen and (min-width: 2160px) {
  main {
    width: 700px;
    font-size: 40px;
  }
  #so-you-want-text {
    font-size: 40px;
  }
  #space-text {
    font-size: 120px;
  }
}

#explore-circle-bg-svg {
  position: fixed;
  right: var(--circle-right-margin);
  bottom: 10%;
  overflow: clip;
  width: 200px;
  height: 200px;
}

#explore-circle {
  fill: white;
  position: absolute;
  cursor: pointer;
}

#explore-text {
  font-family: Bellefair, serif;
  font-size: 30px;
  position: absolute;
  text-anchor: middle;
  cursor: pointer;
}