:root {
  --circle-right-margin: calc(5% + (10 - 5) * ((100vw - 400px) / (800 - 400)));
  font-size: 20px;
}

body {
  background-image: url("/assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  /*overflow: hidden;  anything outside of the body is hidden, if things disappear, this is probably the issue. Also prevents scrollbars from appearing to accomodate large objects unless body is expanded so be aware of that.*/
  font-family: Barlow Condensed, serif;
}

main {
  width: 400px;
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 1px;
  position: fixed;
  left: 10%;
  bottom: 35%;
  transition: font-size 1s, width 0.5s, height 0.5s; /* TEMP values */
  background-color: wheat; /* TEMP */
}

#so-you-want-text {
  font-size: 1.4rem;
  display: block;
  transition: font-size 1s;
}

#space-text {
  font-size: 5rem;
  display: block;
  font-family: Bellefair, serif;
  margin: 0;
  transition: font-size 1s;
}

#explore-circle-bg-svg {
  position: fixed;
  right: var(--circle-right-margin);
  bottom: 10%;
  overflow: clip;
  width: 200px;
  height: 200px;
}

#explore-circle {
  fill: white;
  position: absolute;
  cursor: pointer;
}

#explore-text {
  font-family: Bellefair, serif;
  font-size: 1.5rem;
  position: absolute;
  text-anchor: middle;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  main {
    width: 80%;
    font-size: 0.8rem;
    bottom: 35%;
  }
  #so-you-want-text {
    font-size: 0.8rem;
  }
  #space-text {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 575px) and (max-height: 500px) {
  main {
    width: 80%;
    font-size: 0.8rem;
    bottom: 10%;
  }
  #so-you-want-text {
    font-size: 0.8rem;
  }
  #space-text {
    font-size: 2.5rem;
  }
  #explore-circle-bg-svg circle {
    r: 50px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  main {
    width: 400px;
    font-size: 1rem;
    bottom: 35%;
  }
  #so-you-want-text {
    font-size: 1rem;
  }
  #space-text {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) and (max-height: 500px) {
  main {
    width: 400px;
    font-size: 1rem;
    bottom: 10%;
  }
  #so-you-want-text {
    font-size: 1rem;
  }
  #space-text {
    font-size: 3.5rem;
  }
  #explore-circle-bg-svg circle {
    r: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  main {
    width: 500px;
    font-size: 1.2rem;
    bottom: 35%;
  }
  #so-you-want-text {
    font-size: 1.2rem;
  }
  #space-text {
    font-size: 4rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) and (max-height: 500px) {
  main {
    width: 500px;
    font-size: 1.2rem;
    bottom: 10%;
  }
  #so-you-want-text {
    font-size: 1.2rem;
  }
  #space-text {
    font-size: 4rem;
  }
  #explore-circle-bg-svg circle {
    r: 50px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1079px) {
  main {
    width: 600px;
    font-size: 1.4rem;
    bottom: 20%;
  }
  #so-you-want-text {
    font-size: 1.4rem;
  }
  #space-text {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1079px) and (max-height: 500px) {
  main {
    width: 600px;
    font-size: 1.4rem;
    bottom: 20%;
  }
  #so-you-want-text {
    font-size: 1.4rem;
  }
  #space-text {
    font-size: 4.5rem;
  }
  #explore-circle-bg-svg circle {
    r: 50px;
  }
}

@media screen and (min-width: 1080px) and (max-width: 1439px) {
  main {
    width: 700px;
    font-size: 1.6rem;
    bottom: 10%;
  }
  #so-you-want-text {
    font-size: 1.6rem;
  }
  #space-text {
    font-size: 5rem;
  }
}

@media screen and (min-width: 1440px) and (max-width: 2159px) {
  main {
    width: 800px;
    font-size: 1.8rem;
    bottom: 10%;
  }
  #so-you-want-text {
    font-size: 1.8rem;
  }
  #space-text {
    font-size: 5.5rem;
  }
}

@media screen and (min-width: 2160px) {
  main {
    width: 700px;
    font-size: 2rem;
    bottom: 10%;
  }
  #so-you-want-text {
    font-size: 2rem;
  }
  #space-text {
    font-size: 6rem;
  }
}